@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

/* font color: #990066 */

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: 'EB Garamond', serif;
}

html {
	height: 100%;
	position: relative;
}

/* Menu */
#menu {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 260px;
    background: #fff;
    z-index: 100;
    border-right: 1px dotted #990066;
}

#menu h1 {
    margin: 0px;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 22px;
    background: #365D7E;
}

#menu p {
    padding: 20px;
    margin: 0px;
}

/* Images */
#images {
    position: absolute;
    left: 260px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: #fff;
    z-index: 50;
    overflow-y:scroll;
    padding: 10px 0px;
}

#images.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
}

#images.show {
    visibility: visible;
    opacity: 1;
}

    /* Images list */

    #images .image {
        float: left;
        width: 100%;
    }

    .image img {
        float: left;
        margin: 10px 20px;
    }

    .image p {
        margin: 0px;
        padding: 0px;
    }

/* Search */

#search {
	text-align: center;
    padding: 10px;
    border: 1px solid #990066;
    margin: 0px auto;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#search:hover {
    background: #C16B84;
    color: #fff;
}

/* Canvas */
#map-canvas {
    height: 100%;
    margin-left: 260px;
    position: relative;
}
